<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScreenSets</key>
	<dict>
		<key>FastBondColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastBondMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastCardstockColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastCardstockMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastColorColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastColorMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastEnvelopeColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastEnvelopeMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastLabelsColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastLabelsMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastLetterheadColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastLetterheadMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPlain90Color</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPlain90Mono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPlainRecycledColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPlainRecycledMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPlainColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPlainMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPreprintedColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPreprintedMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPrepunchedColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastPrepunchedMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastRecycledColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastRecycledMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThick160Color</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThick160Mono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThickColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThickMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThinColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThinMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThinnerColor</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC1_Mac.bin</string>
				<string>RPSC4SM1_Mac.bin</string>
				<string>RPSC4SY1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FastThinnerMono</key>
		<dict>
			<key>Depth</key>
			<integer>1</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
				<string>RPSC4SK1_Mac.bin</string>
			</array>
		</dict>
		<key>FineBondColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineBondMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineCardstockColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineCardstockMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineColorColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineColorMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineEnvelopeColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineEnvelopeMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineLabelsColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineLabelsMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineLetterheadColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineLetterheadMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePlain90Color</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePlain90Mono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePlainRecycledColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePlainRecycledMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePlainColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePlainMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePreprintedColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePreprintedMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePrepunchedColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FinePrepunchedMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineRecycledColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineRecycledMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThick160Color</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThick160Mono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThickColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThickMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThinColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThinMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThinnerColor</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC4_Mac.bin</string>
				<string>RPSC4SM4_Mac.bin</string>
				<string>RPSC4SY4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>FineThinnerMono</key>
		<dict>
			<key>Depth</key>
			<integer>4</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
				<string>RPSC4SK4_Mac.bin</string>
			</array>
		</dict>
		<key>StandardBondColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardBondMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardCardstockColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardCardstockMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardColorColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardColorMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardEnvelopeColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardEnvelopeMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardLabelsColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardLabelsMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardLetterheadColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardLetterheadMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPlain90Color</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPlain90Mono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPlainRecycledColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPlainRecycledMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPlainColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPlainMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPreprintedColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPreprintedMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPrepunchedColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardPrepunchedMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardRecycledColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardRecycledMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThick160Color</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThick160Mono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThickColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThickMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThinColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThinMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThinnerColor</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SC2_Mac.bin</string>
				<string>RPSC4SM2_Mac.bin</string>
				<string>RPSC4SY2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
		<key>StandardThinnerMono</key>
		<dict>
			<key>Depth</key>
			<integer>2</integer>
			<key>Screens</key>
			<array>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
				<string>RPSC4SK2_Mac.bin</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
